
<div class="offcanvas-header">
    <h5 id="offcanvasRightLabel"></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body overflow-auto" style="height: 90vh;">
      <div class="container">
        <div class="row">
            <h1>All History </h1>
            <div class="col-xxl-12 col-xl-12 col-lg-12">
                <div class="card">
                    <div class="invoice-table">
                        <div class="table-responsive overflow-auto">
                            <table class="table">
                                <thead>
                                    <tr>
                                       
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Date</th>
                                        <th class="text-center">AI Score</th>
                                        <th class="text-center">File Url</th>
                                        <th class="text-center">Actions</th>
                                        
                                    </tr>
                                </thead>
                                <tbody class="overflow-auto">
                                    <tr *ngFor="let transaction of data; index as i">
                                        <td class="text-center info"> {{ transaction?.summary?.name_check?.account_name || 'Not Available' }} </td>
                                        <td class="text-center info"> {{transaction?.date | date: 'mediumDate'}} </td>
                                        <td class="text-center info">{{ generalservice.returnSomething(transaction?.analytics_score)  }}</td>
                                        <td class="text-center info controlled"> {{ transaction?.file_url_remote}} </td>
                                        <td class="text-center"> 
                                            <span  class="goToHistory me-2">Summary</span> 
                                            <a target="_blank" [href]="transaction?.summary?.link" class="goToHistory file">View report</a>
                                          </td>
                                        
                                     </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
      </div>
  </div>