
<div class="offcanvas-header">
    <h5 id="offcanvasRightLabel"></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <div class="container">
        <div class="row">
            <h1>All History </h1>
            <div class="col-xxl-12 col-xl-12 col-lg-12">
                <div class="card">
                    <div class="invoice-table">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                       
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Reference</th>
                                        <th>Status</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>February 16, 2021</td>
                                        
                                        <td>3000</td>
                                        
                                        <td>CC12345684940</td>
                                        <td>12 Months</td>
                                        
                                        <td><span class="badge px-3 py-2 bg-success">Success</span></td>
                                       
                                    </tr>
                                    <tr>
                                        <td>February 16, 2021</td>
                                        
                                        <td>3000</td>
                                        
                                        <td>CC12345684940</td>
                                        <td>12 Months</td>
                                        
                                        <td><span class="badge px-3 py-2 bg-success">Success</span></td>
                                       
                                    </tr>
                                    <tr>
                                        <td>February 16, 2021</td>
                                        
                                        <td>3000</td>
                                        
                                        <td>CC12345684940</td>
                                        <td>12 Months</td>
                                        
                                        <td><span class="badge px-3 py-2 bg-danger">Failed</span></td>
                                       
                                    </tr>
                                    <tr>
                                        <td>February 16, 2021</td>
                                        
                                        <td>3000</td>
                                        
                                        <td>CC12345684940</td>
                                        <td>12 Months</td>
                                        
                                        <td><span class="badge px-3 py-2 bg-danger">Failed</span></td>
                                       
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
      </div>
  </div>